<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails des cartes</title>
    <link rel="stylesheet" href="../static/card.css">
</head>

<body>


    <section>

        <header>
            <p class="home">
                <a href="index.html">Accueil </a>
            </p>
            <p class="intro">

                <strong>Que vous soyez un collectionneur passionné ou un amateur curieux, notre plateforme est l'endroit
                    idéal pour
                    explorer, échanger et découvrir des trésors cartophiles uniques. Rejoignez-nous aujourd'hui et
                    transformez
                    chaque carte en une histoire à partager et en une connexion à construire.</strong>
            </p>
        </header>
        <!--Initialisation du header et de la balise lien qui mènera tout droit vers la page d'accueil-->




        <section>
            <img class="logo" src="../static/images/téléchargement (1).png">
            
            <h1 class="stitle">
                Sur cette page, tu trouveras les détails des cartes disponibles sur le site. TOUS les personnages ont
                une carte basique, cependant quelque uns ont une carte rare "boost" avec des attributs extraordinaires.
                Foncez !
            </h1>

            <h2 class="basic">
                Quelques cartes basiques :
            </h2>
        </section>

        <section>
            <img src="../static/images/Harry.png" alt="Carte basique Harry">
            <img src="../static/images/dmbdore.png" alt="Carte basique Dumbledore">
            <img src="../static/images/ron.png" alt="Carte basique Ron">
            <img src="../static/images/Hermione Granger.png" alt="Carte basique Hermione ">
            <img src="../static/images/Lord Voldemort .png" alt="Carte basique Voldemort">
        </section>
        <!--Présentation des cartes basiques-->



        <!--Ci-dessous est balisé la 2eme partie du site-->

        <section>
            <h2 class="boost">
                Quelques cartes boost :
            </h2>
        </section>


        <section class="boostcard">
            <img src="../static/images/drago.png" alt="Carte Drago Malefoy">
            <img src="../static/images/dobby.png" alt="Carte Dobby">
            <img src="../static/images/Luna Lovegood.png" alt="Carte Luna Lovegood">
            <img src="../static/images/sirius.png" alt="Carte Sirius Black">
            <img src="../static/images/severus.png" alt="Carte Severus Rogue">
        </section>

        <!--Début du footer ci-dessous-->
        <footer>
            <p class="sentence">
                Ne perds pas de temps, inscris-toi dès maintenant et profite d'une large sélection de carte !
            </p>

            <section class="connection">
                <p class="login">
                    <a href="registrationpage.html">Je m'inscris</a>
                </p>

                <p class="register">
                    <a href="signinpage.html">J'ai déjà un compte</a>
                </p>
            </section>
        </footer>

</body>

</html>