<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails des cartes</title>
    <link rel="stylesheet" href="../static/détail.css">
</head>

<body>
    <header>
        <p class="accueil">
            <a>Accueil </a>
        </p>
        <p class="intro">

            <strong>Que vous soyez un collectionneur passionné ou un amateur curieux, notre plateforme est l'endroit
                idéal pour
                explorer, échanger et découvrir des trésors cartophiles uniques. Rejoignez-nous aujourd'hui et
                transformez
                chaque carte en une histoire à partager et en une connexion à construire.</strong>
        </p>
    </header>
    <!--Initialisation du header et de la balise lien qui mènera tout droit vers la page d'accueil-->
    <h1 class="stitre">
        Sur cette page, tu trouveras les détails des cartes disponibles sur le site.
    </h1>
    <h2 class="dtlcrt">
        Quelques cartes basiques : 
    </h2>
</body>

</html>