<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry Booster</title>
    <link rel="stylesheet" href="../static/accueil.css">

</head>

<body>
    <main>

        <nav>
            <!--Ici, je fait la partie nav (tête de la page avec le menu et les "boutons" s'inscrire et se connecter que je les met dans des classes.)-->>

            <h2 class="boutonlienmenu"> <!--Initialisation d'une classe d'un bouton lien-->
                <a class="menu" href="">Menu</a>
            </h2>
            <img class ="logo" src="../static/images/Logo  .png">
            <h2 class="seco">
                <a class="inscription" href=""> S'inscrire </a> <a class="inscription" href=""> Se connecter </a>

            </h2>
        </nav>


        <section>
            <p class="titre">
                Bienvenue sur <span class="ttrharry">Harry Booster</span>, la plateforme magique dédiée aux
                passionnés de cartes Harry Potter !
                Explorez, échangez et collectionnez les différentes cartes enchantées de l'univers magique. Plongez
                dans
                la magie
                des échanges et découvrez des trésors uniques pour agrandir votre collection de cartes sorcières et
                sorciers avec une variété de niveau de carte.
            </p>

        </section>



        <h2 class="listecarte">
            Voici la liste des cartes simples disponibles pour le moment !
        </h2>

        <section>

            <li>Harry Potter </li>

            <li>Hermione Granger</li>

            <li>Albus Dumbledore</li>

            <li>Lord Voldemort</li>

            <li>Ron Weasley</li>

            <li>Severus Rogue</li>

            <li>Dobby </li>

            <li>Sirius Black</li>

            <li>Luna Lovegood</li>

            <li>Drago Malefoy</li>

        </section>




        <a class="liendetailcarte" href="">
            <p>Voir détail des cartes</p> <!--Lien pour aller sur la page détail des cartes-->>
        </a>


    </main>

    <footer>
        <img src="../static/images/106774299.webp" alt="">
        <source>
    </footer>
    <!--Fin de page + image d'Harry Potter-->>

</body>

</html>
</section>