<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry Booster</title>
    <link rel="stylesheet" href="../static/accueil.css">

</head>

<body>

    <nav class="navigation">
        <p>
            Harry Booster
        </p>

        <p class="inscription">
            <a>
                S'inscrire
            </a>
        </p>

        <p class="connexion">
            <a>
                Se connecter
            </a>
        </p>
    </nav>

    <main>
        <h1>
            Titre
        </h1>

        <section>
            <p>
                Bienvenue sur Harry Booster, la plateforme magique dédiée aux passionnés de cartes Harry Potter !
                Explorez, échangez et collectionnez les différentes cartes enchantées de l'univers magique. Plongez dans
                la magie
                des échanges et découvrez des trésors uniques pour agrandir votre collection de cartes sorcières et
                sorciers avec une variété de niveau de carte.
            </p>

        </section>

        <h2>
            Voici la liste des cartes SIMPLE disponibles ! (pour le moment)
        </h2>


        <ul>
            <li>Harry Potter </li>

            <li>Hermione Granger</li>

            <li>Albus Dumbledore</li>

            <li>Lord Voldemort</li>

            <li>Ron Weasley</li>

            <li>Severus Rogue</li>

            <li>Dobby </li>

            <li>Sirius Black</li>

            <li>Luna Lovegood</li>

            <li>Drago Malefoy</li>
        </ul>




        <a href="">
            <p> Voir détail des cartes </p>
        </a>
        </main>

        <footer>
          <img src="../static/images/106774299.webp" alt="">
            <source>
        </footer>




</body>

</html>