<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="../static/registrationpage.css">
</head>

<body>

    <main>
        <div class="sign">

            <h1 class="title">
                C'est parti pour l'inscription !
            </h1>
            <form action=""> <!-- ** Method = pour envoyer des données à un serveur-->


                <!--Formulaire html d'inscription-->

                <div class="register">
                    <label for="nom">Ton nom</label>
                    <input type="text" id="nom" name="nom" placeholder="Soulémane" required> <!--Champ de saisie-->
                </div>


                <div class="register">
                    <label for="email">Ton adresse email</label>
                    <input type="text" id="email" name="email" placeholder="Adresse email" required>
                </div>


                <div class="register">
                    <label for="motdepasse">Ton mot de passe</label>
                    <input type="password" id="motdepasse" name="motdepasse" placeholder="Mot de passe" required>
                  
                </div>


                <div class="register">
                    <label for="Confirmetonmotdepasse">Confirme ton mot de passe</label>
                    <input type="password" id="Confirmetonmotdepasse" name="Confirmetonmotdepasse"
                        placeholder="Mot de passe" required> <!--Obligé-->
                </div>



                <div class="register">
                    <label for="Pseudo">Et enfin ton nom d'utilisateur</label>
                    <input type="text" id="Pseudo" placeholder="Ecris ton pseudo ici">
                </div>


                <button type="submit"> 
                    C'est parti !
                </button>

        </div>

        </form>



    </main>

</body>

</html>