* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
} 
.intro {
    font-size: 20px; 
    color: white ;
    background-color: black;
    text-align: center;
    padding: 20px;
 }

 .accueil {
    background-color: black;
    color: grey;
    padding: 10px;
    text-decoration: underline;
 }
/*Mise en place du header*/
.stitre {
    text-align: center;
    font-size: 17px;
    padding-top: 50px;
}
.dtlcrt {
    font-size: 17px;
    padding-top: 25px;
    margin: 30px;
}