* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.intro {
    font-size: 17px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
}

.accueil {
    background-color: black;
    color: grey;
    padding: 10px;
    text-decoration: underline;
}

/*Mise en place du header*/
.stitre {
    text-align: center;
    font-size: 22px;
    padding-top: 70px;
    font-weight: 200;
}


.basique {
    /*La phrase avec ":"*/
    font-size: 20px;
    padding-top: 200px;
    margin: 30px;
}


img {
    width: 19%;
    margin: 6px;
    padding: 10px;
}

/*Mise en forme des images*/

.boost {
    /*La phrase avec ":"*/
    font-size: 17px;
    padding-top: 100px;
    margin: 30px;
    font-size: 20px;
}

.basique,
.boost {
    text-align: center;
    font-weight: 500;
    color: black;

}

.carteboost {
    padding-bottom: 100px;
}

footer {
    background-color: black;
    padding-bottom: 80px;
    color: white;
    text-align: center;
}

.phrasedubas {
    padding: 20px;
    font-size: 20px;
    padding-top: 35px;
}

.connex {
    display: flex;
    gap: 50px;
    padding-left: 40%;
    padding-top: 50px;
}

/*liens*/
.sinscrire,
.seconnecter {
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    display: inline-block;
    border: 3px solid skyblue;
    border-radius: 2px;
    padding-right: 10px;
    font-size: 18px;
    
}


/*Changements quand la taille d'écran <= 850px*/
@media screen and (max-width: 850px) {
    body {
        flex-direction: column;
    }
.intro, .stitre {
    font-size: 15px;
}
img {
    object-fit: cover;
    width: 50%;
}
.connex {
  flex-direction: column;
  padding: 10%;
}
  

}