* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: darkslategrey;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
}

.sign { 
    text-align: center;
}

.title {
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

.register {
    margin-bottom: 25px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

/*Mise en place des champs de saisie*/
input {
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 90%;
}

/*Mise en forme du bouton*/
button {
    background-color: darkcyan;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: green;
}