* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px
}

/*mise en forme de la box*/
.signin {
    text-align: center;
    padding: 25px;
}

.title {
    color: black;
    padding-bottom: 10px;
}

/*Alignement*/
form {
    flex-direction: column;
    padding: 25px;
}

.pass {
    margin-bottom: 25px;
}

label {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 30px;
    color: black;
}

/*Champs de saisie*/
input {
    padding: 10px;
    border: solid 1px gray; 
    border-radius: 5px;
    width: 90%;  
}

button {
    cursor: pointer;
    background-color: darkcyan;
    color: white;
    padding:10px;
    border: solid whitesmoke 3px;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: green;
}